{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
    <h1  class="display-4" style="padding: 15px;">To Do Application</h1>
        <div>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'admin:index' %}"role="button">Admin</a>
            </p>
        </div>
        <div>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'categories' %}"role="button">Categories</a>
            </p>
        </div>
        <div>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'task_list' %}"role="button">View All Tasks</a>
            </p>
        </div>
        
    </div>
     
     <div > 
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'task_new' %}"role="button">+Add New Task</a>
        </p>
     </div>

{% endblock content %}